:root {
  --time-tran: 0.65s;
  --color-light-blue: #a9dcfd;
  --color-white: #fefefe;
  --color-blue-white: #cbeafe;
  --color-light-white: #d5eefe;
  --color-grey: rgba(55, 55, 55, 0.5);
  --color-black-gray: #373737;
  --color-blue: #09f;
  --color-shadow: rgba(255, 255, 255, 0.3);
  --color-black-shadow: #0000000d;
  --color-absolute-black: #000
}
body {
  font-family: Poppins;
  background-color:  var(--color-absolute-black);
}
button:hover {
  box-shadow: 0px 3px 20px 0px var(--color-blue);
  transition: 0.1s;
}
.head {
  width: 423px;
  margin: 0 auto;
  padding-bottom: 46px;
  border-radius: 40px;
  background-color: var(--color-white);
}
.container {
  width: 355px;
  padding: 52px 0 58px;
  margin: 0 auto;
}
.head-theme {
  position: relative;
  display: flex;
  width: 122px;
  height: 44px;
  justify-content: space-between;
  padding: 7px 15px;
  margin: 0 auto 141px;
  background-color: var(--color-light-blue);
  border-radius: 40px;
}
.head-theme-light {
  width: 29.737px;
  height: 29.737px;
}
.head-theme-night {
  width: 29.737px;
  height: 29.737px;
  z-index: 4;
}
.head-theme-light {
  width: 29.737px;
  height: 29.737px;
  z-index: 4;
}
.head-theme-change {
  display: none;
  opacity: 0;
}
.head-theme-change:checked + .head-theme-check {
  left: 54px;
}
.head-theme-check {
  position: absolute;
  width: 68px;
  height: 44px;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: var(--color-blue-white);
  border-radius: 40px;
  transition: var(--time-tran);
}
.head-history {
  height: 22px;
  margin-bottom: 8px;
  text-align: end;
  font-size: 22px;
  font-weight: 500;
  color: var(--color-grey);
  overflow: hidden;
}
.head-flex_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-result {
  display: flex;
  flex-grow: 1;
  text-align: end;
  color: var(--color-black-gray);
  font-size: 40px;
  font-weight: 600;
  flex-direction: row-reverse;
  overflow: hidden;
}
.interface {
  width: 423px;
  margin: 0 auto;
  margin-top: -80px;
  background-color: var(--color-light-blue);
  border-radius: 30px;
}
.interface-container {
  display: flex;
  gap: 25px;
}
.interface-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 25px;
}
.interface-list-item {
  width: 70px;
  height: 70px;
  font-size: 26px;
  font-weight: 600;
  color: var(--color-black-gray);
  background-color: var(--color-shadow);
  border-radius: 50px;
  box-shadow: 0px 3px 15px 0px var(--color-black-shadow);
}
.interface-list-item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  font-size: 26px;
  font-weight: 600;
  color: var(--color-black-gray);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50px;
}
.interface-list_operation > .interface-list-item {
  background-color: transparent;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 0px transparent;
}
.interface-list_operation {
  width: 70px;
  height: 430px;
  border-radius: 40px;
  background-color: var(--color-shadow);
  box-shadow: 0px 3px 15px 0px #0000000d;
}
.interface-list_operation > .interface-list-item:last-of-type {
  margin-bottom: 0;
  background-color: var(--color-light-white);
  box-shadow: 0px 3px 15px 0px var(--color-black-shadow);
}

.head-equals[hidden] {
  overflow: hidden;
}

.head-equals {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #373737;
}
