:root {
  --time-tran: 0.4s;
  --color-body: #F66;
  --color-calc: #fefefe;
  --color-theme: #a9dcfd;
  --color-sun:#373737;
  --color-night:#7B9AAE;
  --color-check_span: #cbeafe;
  --color-history: rgba(55, 55, 55, 0.5);
  --color-result: #373737;
  --color-interface: #a9dcfd;
  --color-item: #CBEAFE;
  --color-item-text: #373737;
  --color-blue: #09f;
  --color-list_operation: #CBEAFE;
  --color-equals: rgba(255, 255, 255, 0.3);
  --color-black-shadow: #0000000d;
}
* {
  transition: var(--time-tran);
}
body {
  font-family: Poppins;
  background-color: var(--color-body);
}
button:hover {
  box-shadow: 0px 0px 40px 5px var(--color-blue);
  transition: 0.05s;
}
.wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 423px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: var(--color-calc);
}
.head {
  padding: 52px 34px 28px;
}
.container {
  width: 355px;
  margin: 0 auto;
}
.head-theme {
  position: relative;
  display: flex;
  width: 122px;
  height: 44px;
  justify-content: space-between;
  padding: 7px 15px;
  margin: 0 auto 141px;
  background-color: var(--color-theme);
  border-radius: 40px;
}
.head-theme-light {
  width: 29.737px;
  height: 29.737px;
  z-index: 4;
  fill: var(--color-sun);
}
.head-theme-night {
  width: 29.737px;
  height: 29.737px;
  z-index: 4;
  fill: var(--color-night);
}
.head-theme-change {
  display: none;
  opacity: 0;
}
.head-theme-change:checked + .head-theme-check {
  left: 54px;
}
.head-theme-check {
  position: absolute;
  width: 68px;
  height: 44px;
  left: 0;
  top: 0;
  background-color: var(--color-check_span);
  border-radius: 40px;
  transition: var(--time-tran);
}
.head-history {
  height: 22px;
  margin-bottom: 8px;
  text-align: end;
  font-size: 22px;
  font-weight: 500;
  color: var(--color-history);
  overflow: hidden;
  cursor: grab;
}
.head-flex_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-equals[hidden] {
  overflow: hidden;
}

.head-equals {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #373737;
}
.head-result {
  display: flex;
  flex-grow: 1;
  text-align: end;
  color: var(--color-result);
  font-size: 40px;
  font-weight: 600;
  flex-direction: row-reverse;
  overflow: hidden;
  transition: 0.1s;
}
.interface {
  background-color: var(--color-interface);
  border-radius: 30px;
  padding: 26px 34px 52px;
}
.interface-container {
  display: flex;
  gap: 25px;
}
.interface-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 25px;
}
.interface-list-item {
  width: 70px;
  height: 70px;
  font-size: 26px;
  font-weight: 600;
  color: var(--color-item-text);
  background-color: var(--color-item);
  border-radius: 50px;
  box-shadow: 0px 3px 15px 0px var(--color-black-shadow);
}
.interface-list-item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  font-size: 26px;
  font-weight: 600;
  color: var(--color-item-text);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50px;
}
.interface-list_operation > .interface-list-item {
  background-color: transparent;
  box-shadow: 0px 0px 0px 0px transparent;
}
.interface-list_operation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 40px;
  background-color: var(--color-list_operation);
  box-shadow: 0px 3px 15px 0px var(--color-black-shadow);
}
.interface-list_operation > .interface-list-item:last-of-type {
  background-color: var(--color-equals);
  box-shadow: 0px 3px 15px 0px var(--color-black-shadow);
}
.red{
  color: #F00;
}